.blog.main-row {
  article {
    @include row;

    margin-bottom: 5em;

    div.text {
      @include span-columns(8);
      @include shift;

      h2 {
        margin-top: 0;
        margin-bottom: 0;

        a {
          @include span-columns(6 of 8);
          @include omega;

          font-size: $big-text;
        }

        time {
          @include span-columns(2 of 8);
          @include omega;
          @include pad(0.5em 0 0 0);

          font-size: $bigger-text;
        }
      }

      p {
        @include shift;
        @include span-columns(6 of 8);
      }
    }

    img {
      @include span-columns(3);
      @include omega;
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }

  & > p, ul, h3, h4  {
    @include span-columns(6);
    @include shift(1);

  }

  & > h3, h4 {
    margin-top: 0.33em;
    margin-bottom: 0;
  }

  & > ul {
    margin-top: 0.33em;

    li {
      font-weight: bold;
      list-style: none;
    }
  }

  & > p:last-child {
    @include page-margin;
  }
}

