.blog.main-row {
  article {
    @include row;
    @include pad(0 0 0.66em 0);

    div.text {
      @include span-columns(7);
      @include shift;
      @include omega;

      time {
        @include span-columns(2 of 7);

        font-size: $text;
      }

      h2 {
        @include span-columns(5 of 7);

        font-size: $bigger-text;
      }

      p {
        @include span-columns(7 of 7);
      }
    }

    img {
      @include span-columns(4);
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }

  & > p  {
    @include span-columns(6);
    @include shift(1);

  }

  & > p:last-child {
    @include page-margin;
  }
}

