body {
  background: $grey;
  color: $black;
  font-family: DederonSansLight, "Lucida Grande";
  font-size: $text;
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: KatarineSemi;
}

h1 {
  font-size: $title-text;
}

h2 {
  font-size: $small-title-text;
}

h3 {
  font-size: $bigger-text;
}

a {
  color: $link-color;
  text-decoration: none;
  padding-bottom: 2px;

  &:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid $link-color;
  }
}

img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  border: 0.33em solid lighten($top-color, 50%);
}

hr {
  @include span-columns(12);
  border-top: thin solid $top-color;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 1em 0;
}


div.header-row {
  @include linear-gradient($bottom-color 1%, $bottom-color 23%, $top-color 100%);
  background-color: $top-color;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0 1em;
  box-shadow: $black 0 0.125em 0.67em;

  header {
    @include outer-container;
    @include row;
    padding: 0.67em 0;

    a.home:hover:after {
      content: "";
    }

    h1 {
      color: $white;
      float: left;
      font-size: $bigger-text;
      margin:  0px auto;
      font-weight: bold;
      @include span-columns(3);
    }

    section#menu {
      @include shift(5);
      @include span-columns(4);
      @include pad(0.5em 0);

      text-align: right;

      a {
        @include span-columns(1 of 4);
        font-size: $text;
        font-family: KatarineSemi;
        color: $white;
        text-align: right;

        &:hover {
          border-color: $white;
        }
      }
    }
  }
}

div.main-row {
  background-color: $white;
  @include row;
  @include outer-container;
  padding: 0 1em;
  box-shadow: $black 0 0.125em 0.67em;

  div#title {
    h1 {
      font-size: $title-text;
      margin: 1em 0 0.25em 0;

    }
  }
}


footer {
  @include linear-gradient($top-color 0%, $top-color 20%, $bottom-color 88%);

  background-color: $bottom-color;
  color: $white;
  padding: em(6) 0 4em;
  text-align: center;

  div.copyright {
    @include outer-container;
  }
}

