@include font-face(DederonSans, "Dederon_Sans_Light", normal);
@include font-face(Dederon, "Dederon_Serif_Semibold", bold);

body {
  background: $white;
  color: $black;
  font-family: DederonSans, "Lucida Grande";
  font-size: $text;
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: Dederon;
}

h1 {
  font-size: $title-text;
}

h2 {
  font-size: $small-title-text;
}

h3 {
  font-size: $bigger-text;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    &:after { content:  "\ \2192";  }
  }
}

img {
  border-radius: 3%;
}

div.header-row {
  background-color: $top-color;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  header {
    @include outer-container;
    @include row;
    padding: 0.67em 0;

    h1 {
      color: $white;
      float: left;
      font-size: $bigger-text;
      margin:  0px auto;
      font-weight: bold;
      @include span-columns(3);
    }

    section#menu {
      @include span-columns(9);
      float: left;
      font-size: $text;
      text-align: right;
      margin: 0.5em 0 0 0;

      a {
        color: $white;
        display: inline-block;
        padding: 1px 2em 1px 1px;

        &:hover {
          padding: 1px 1em 1px 1px;
        }
      }
    }
  }
}

div.main-row {
  background-color: $white;
  @include row;
  @include outer-container;

  div#title {
    @include span-columns(12);
    @include omega;

    h1 {
      font-size: $title-text;
      margin: 1em 0 0.25em 0;
    }
  }
}


footer {
  background-color: $bottom-color;
  color: $white;
  padding: em(6) 0 4em;
  text-align: center;

  div.copyright {
    @include outer-container;
  }
}

@include media(new-breakpoint(max-width 768px)) {
  div.teaser img {
    width: 400px;
    height: 496px;
  }
}

