$ipad-portrait: new-breakpoint(max-width 769px);
$iphone-landscape: new-breakpoint(max-width 480px 4);

@include media($ipad-portrait) {
  a:hover:after {
    content: "";
  }

  div.main-row {
    div#title {
      h1 {
        font-size: $small-title-text;
      }
    }
  }

  div#hot {
    p.motto {
      font-size: $text;
    }

    div.blog {
      h3 {
        margin: 0.5em 0 0 0;
      }

      article {
        padding: 1em 0 1em 0;
      }
    }
  }

  div#sections {
    a.section {
      @include span-columns(6);
      @include omega;

      &:hover {
        padding: 0.5em 2em 0 0;
        background: none;
      }
    }
  }

  #detail {
    .picture {
      @include span-columns(12);
    }

    .text {
      @include span-columns(12);

    }

    div.vcard {
      @include span-columns(6);
      @include omega;

      @include pad(2em default);
    }
  }

  #big-partners {
    .partner {
      @include pad(0.5em 0 1em 0.5em);

      h2 {
        font-size: $bigger-text;
      }
    }
  }
}

@include media($iphone-landscape) {
  div.header-row {
    header {
      h1 {
        font-size: $text;
        @include span-columns(1);
      }

      section#menu {
        @include span-columns(3);
        margin: 0 0 0 0;

        a {
          font-size: $small-text;
          @include pad(0 0.67em 0.25em 0);
        }
      }
    }
  }

  div.main-row {
    div#title {
      h1 {
        font-size: $bigger-text;
        @include pad(2em 0 0.5em 0);
      }
    }
  }

  div#teaser {
    @include span-columns(4);
  }

  div#hot {
    @include span-columns(4);
  }

  div#sections {
    a.section {
      @include span-columns(4);

      &:hover {
        background: none;
      }
    }
  }

  #big-partners {
    .partner {
      @include span-columns(4);
    }
  }

  #detail {
    div.vcard {
      @include span-columns(3);
      @include shift(1);
    }
  }
}

