$ipad-portrait: new-breakpoint(max-width 769px);
$iphone-landscape: new-breakpoint(max-width 480px 4);

@include media($ipad-portrait) {
  a:hover:after {
    content: "";
  }

  div.main-row {
    div#title {
      h1 {
        font-size: $small-title-text;
      }
    }
  }

  div#hot {
    p.motto {
      font-size: $text;
    }

    div.blog {
      h3 {
        margin: 0.5em 0 0 0;
      }

      article {
        padding: 1em 0 1em 0;
      }
    }
  }

  div#sections {
    a.section {
      @include span-columns(6);
      @include omega;

      &:hover {
        background: none;
      }

      p {
        height: auto;
      }
    }
  }

  #detail {
    .picture {
      @include span-columns(12);
    }

    .text {
      @include span-columns(12);

    }

    div.vcard {
      @include span-columns(6);
      @include omega;
    }
  }

  #big-partners {
    .partner {
      @include pad(0.5em 0 1em 0.5em);

      h2 {
        font-size: $bigger-text;
      }
    }
  }
}

@include media($iphone-landscape) {
  div.header-row {
    header {
      h1 {
        font-size: $text;
        @include span-columns(2);
      }

      section#menu {
        @include pad(0);
        @include span-columns(2);
        margin: 0 0 0 0;

        a {
          font-size: $small-text;
          @include pad(0 0 0.5em 0.5em);

          &:hover {
            @include pad(0 0 0.5em 0.5em);
          }
        }
      }
    }
  }

  div.main-row {
    div#title {
      h1 {
        font-size: $bigger-text;
        @include pad(2em 0 0.5em 0);
      }
    }
  }

  div#teaser {
    @include span-columns(4);
  }

  div#hot {
    @include span-columns(4);
  }

  div#sections {
    a.section {
      @include span-columns(4);

      &:hover {
        background: none;
      }
    }
  }

  #big-partners {
    .partner {
      @include span-columns(4);
    }
  }

  #detail {
    p:nth-child(n+2) {
      @include span-columns(4);
    }

    div.vcard {
      @include span-columns(4);

      .fn {
        height: 2em;
      }

      .adr {
        margin: 0.5em 0 0 0;
      }
    }
  }

  .blog.main-row {
    article {
      div.text {
        @include span-columns(4);

        h2 {
          font-size: $text;

          a {
            @include span-columns(3 of 4);
          }

          time {
            @include span-columns(1 of 4);
            font-size: $text;
            @include omega;
          }
        }

        p {
          @include span-columns(4 of 4);
          @include omega;
        }
      }

      img {
        @include span-columns(4);
      }

    }

    footer {
      @include span-columns(4);
    }
  }
}

