div#teaser {
  @include span-columns(7);

  padding: 0 0 1em 0;
}

div#hot {
  @include span-columns(5);
  @include omega;

  p {
    margin: 0;
  }

  p.motto {
    font-family: KatarineSemi;
    font-size: $bigger-text;
    padding: 0 0 1em 0;
    border-bottom: thin solid $top-color;

    span.signature {
      display: block;
      text-align: right;
      margin: 1em 0 0 0;
    }
  }

  div.blog {
    padding: 0;

    h3 {
      margin: 1em 0 0 0;
    }

    article {
      padding: 1em 0 1.5em 0;
      border-bottom: thin dashed $bottom-color;

      time {
        @include span-columns(1 of 5);
        display: block;
        text-align: right;
        margin: 1em 0;
        font-size: $small-text;
      }

      h4 {
        @include span-columns(4 of 5);
        margin: 0.33em 0;
      }

      div.head {
        @include row;
        font-family: Dederon;
      }

      div.body {
        @include row;
        @include span-columns(5 of 5);
      }

      &:last-child {
        border: none;
      }
    }
  }
}

div#sections {
  @include outer-container;
  clear: both;


  h3 {
    margin: 1em 0 0em 0;
  }

  a.section {
    @include span-columns(3);
    color: $black;

    &:hover {
      @include linear-gradient($white 5%, $top-color 39%, $top-color 41%, $white 41%,
        $white 96%, $top-color 96%, $top-color 100%);

      &:after {
        content: "";
      }
    }

    img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    p {
      padding: 3px;
      margin: 0.67em 0 2em 0;
      height: 10em;
    }
  }

}

#big-partners {
  @include outer-container;

  .partner {
    @include span-columns(6);
    @include omega;
    @include pad(1em 0.5em 3em 1em);

    img {
      width: 95%;
      height: 95%;
    }

    h2 {
      font-size: $bigger-text;
    }
  }
}

#detail {
  @include pad(0 default 2em default);

  p:nth-child(n+2) {
    @include pad(0 0.5em);
    @include span-columns(6);
    @include omega;
  }

  div.vcard {
    @include span-columns(3);

    div.adr {
      margin: 1em 0 0 0;
    }

    .email {
      margin: 0 0 1em 0;
    }

    .fn {
      font-size: $bigger-text;
      margin: 0 0 1em 0;
    }
  }
}


