@import 'bourbon';
@import 'neat';

// colors
$blue: rgb(73, 153, 232);
$white: rgb(255, 255, 252);
$grey: rgb(205, 205, 202);
$black: rgb(55, 55, 52);
$green: rgb(169, 228, 114);

// sizes
$text: 14px;
$small-text: golden-ratio($text, -1);
$bigger-text: golden-ratio($text, 1);
$small-title-text: golden-ratio($text, 2);
$title-text: golden-ratio($text, 4);

// Main general styles
@import 'partials/main_style';

// Blog specific styles
@import 'partials/blog';

// Pages specific styles
@import 'partials/pages';

