@import 'bourbon';
@import 'neat';

// colors
$blue: rgb(73, 153, 232);
$white: rgb(255, 255, 252);
$grey: rgb(205, 205, 202);
$black: rgb(55, 55, 52);
$green: rgb(169, 228, 114);

// sizes
$text: 14px;
$bigger-text: 16px;
$title-text: 96px;

// Main general styles
@import 'partials/main_style';

// Pages specific styles
@import 'partials/pages';

