@import 'vendor/_normalize-2.x';

@import 'bourbon';
@import 'neat';

// colors
$top-color: rgb(204, 153, 0);
$grey: rgb(255, 253, 242);
$white: rgb(255, 253, 252);
$black: rgb(51, 51, 0);
$link-color: rgb(0, 82, 163);
$bottom-color: rgb(204, 102, 0);

// text sizes
$text: 14px;
$small-text: golden-ratio($text, -1);
$bigger-text: golden-ratio($text, 1);
$big-text: golden-ratio($text, 2);
$small-title-text: golden-ratio($text, 2);
$title-text: golden-ratio($text, 3);

@mixin page-margin {
  margin-bottom: 6em;
}

@include font-face(DederonSerif, "Dederon_Serif_Light", normal);
@include font-face(DederonSerif, "Dederon_Serif_Semibold", bold);
@include font-face(BistroScript, "BistroScript", bold);

// Main general styles
@import 'partials/main_style';

// Blog specific styles
@import 'partials/blog';

// Pages specific styles
@import 'partials/pages';

// Mobile specific styles
@import 'partials/mobile';
